
		<div class="footer">
			<div class="container">
        <div class="row">
          <div class="col-lg-4 footer-links col-md-6 mg-b-30">
            <h4>Về chúng tôi</h4>
            <div class="footer-logo">
              <!-- <img src="A1" class="footer-logo-img" alt=""> -->
              <p class="text-white"><strong>A1 Store</strong></p>
            </div>
            <p class="footer-logo-subtitle mg-b-10">A1 Store nơi mua sắm đáng tin cậy, điện thoại chính hãng bảo hành 1 đổi 1 trong 1 năm.</p>
            
          </div>
          
          <div class="col-lg-4 col-md-6 footer-links mg-b-30">
            <h4>Thông tin</h4>
            <ul>
              <li><i class="fas fa-angle-right"></i> <a href="#">Trang chủ</a></li>
              <li><i class="fas fa-angle-right"></i> <a href="#">Dịch vụ</a></li>
              <li><i class="fas fa-angle-right"></i> <a href="#">Chính sách giao hàng</a></li>
              <li><i class="fas fa-angle-right"></i> <a href="#">Chính sách bảo hành</a></li>
            </ul>
          </div>
    
          <div class="col-lg-4 col-md-6 footer-links mg-b-30">
            <h4>Thương hiệu</h4>
            <ul>
              <li><i class="fas fa-angle-right"></i> <a href="#">Apple</a></li>
              <li><i class="fas fa-angle-right"></i> <a href="#">Samsung</a></li>
              <li><i class="fas fa-angle-right"></i> <a href="#">LG</a></li>
              <li><i class="fas fa-angle-right"></i> <a href="#">Xiaomi</a></li>
              <li><i class="fas fa-angle-right"></i> <a href="#">Oppo</a></li>
            </ul>
          </div>
          
    
    
        </div>
      </div>
		</div>