

<div class="row" style="margin: 30px 0px;">
    <div class="col-4">
        <div class="d-card-img">
            <img src="{{ posts.imageFile }}" width="100%" [routerLink]="['/product', posts.id]">
        </div>
    </div>
    <div class="col-6 offset-2">
        <p class="d-card-title">{{ posts.productName }}</p>
        <table class="table">
            <tr>
                <th width="30%">Thương hiệu</th>
                <td>{{ posts.manufacture }}</td>
            </tr>
            <tr>
                <th>Còn lại</th>
                <td>{{ posts.unitInStock }} sản phẩm</td>
            </tr>
            <tr>
                <th>Giá</th>
                <td>${{ posts.unitPrice }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ posts.description }}</td>
            </tr>
            <tr>
                <td colspan="2"><button (click)="addToCart(posts)" class="btn btn-success">Mua ngay</button></td>
            </tr>

        </table>

        
    </div>

</div>



